---
interface Props {
  img: string
  title: string
  description: string
  link: string
  bottomText: string
}

const { description, img, link, title, bottomText } = Astro.props
---

<div class="rounded-[3rem] overflow-hidden shadow-xl">
  <figure>
    <img class="w-full" src={img} alt={title}>
  </figure>
  <div class="flex flex-col p-8">
    <h3 class="text-2xl font-bold">{title}</h3>
    <p class="pt-4 pb-6">{description}</p>
    <div class="flex justify-end">
      <a href={link} class="text-green underline">{bottomText}</a>
    </div>
  </div>
</div>