---
import Title from '@/componets/Title.astro'
  
interface Props {
  img: string
  title: string
  description: string
  link: string
  bottomText: string
  className?: string
}

const { description, img, link, title, bottomText, className } = Astro.props
---

<div class=`rounded-[3rem] overflow-hidden shadow-xl ${className}`>
  <figure class="max-w-[40rem] overflow-hidden max-h-56">
    <img class="w-full" src={img} alt={title}>
  </figure>
  <div class="flex flex-col p-8">
    <Title type='h3' font='bold' text={title} className='[font-size:_clamp(1em,10vw,1.5em)]' />
    <p class="pt-4 pb-6 [font-size:_clamp(.8em,10vw,1.125em]">{description}</p>
    <div class="flex justify-end">
      <a href={link} class="text-green underline [font-size:_clamp(.8em,10vw,1.125em]">{bottomText}</a>
    </div>
  </div>
</div>